body {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
}

#main-top-container {
  background-color: var(--background-color);
}

.section {
  transition: height 0.5s ease, flex 0.5s ease;
}

.section1 {
  flex: 0 0 auto;
}

.section.visible {
  flex: 1;
  transition: height 0.5s ease, flex 0.5s ease;
}

.section.hidden {
  height: 0;
  flex: 0;
  overflow: hidden;
  transition: height 0.5s ease, flex 0.5s ease;
}

.section-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.2em 3em;
  gap: 1em;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.section-content.hidden {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.line {
  width: 100%;
  height: 0.5em;
  background-color: #ccc;
  border-radius: 0.5em;
  cursor: pointer;
  margin: 0;
  z-index: 50;
}

#line1 {
  margin-top: 1em;
}

.custom-input:focus {
  outline: none;
  border: 2px solid var(--accent-color);
}

#user-word {
  color: aliceblue;
  background-color: rgb(71, 69, 69);
  border-radius: 0.5em;
  padding: 0.2em 1em;
}

#user-word:hover {
  cursor: pointer;
  background-color: red;
}

.filter-display-container {
  padding: 0.5em;
  text-align: center;
  overflow-y: auto;
}

.input-row {
  display: flex;
  align-items: center;
}

.input-row input {
  margin-right: 0.3em;
}

.add-bttn {
  margin-top: 1.2em;
  background-color: var(--accent-color);
  border-radius: 0.5em;
  padding: 0.2em;
}

#cookbook-add-bttn {
  margin-top: 1.2em;
  background-color: var(--accent-color2);
  border-radius: 0.5em;
  padding: 0 0.5em;
  color: aliceblue;
}

#cookbook-add-bttn:hover {
  cursor: pointer;
}

.add-bttn:hover {
  cursor: pointer;
}

#remove-cookbook:hover {
  cursor: pointer;
  color: red;
}

.icon {
  position: absolute;
  top: 0.5em;
  left: 0.7em;
}

.icon:hover {
  cursor: pointer;
}

.filters {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  margin-top: 0.3em;
  padding: 0 5em;
}

.filter {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
  flex: 1 0 20%;
  box-sizing: border-box;
  text-align: center;
  background-color: var(--accent-color);
  color: aliceblue;
  border-radius: 0.5em;
  position: relative;
  padding: 0.2em 0;
  cursor: pointer;
  user-select: none;
}

.calorie-filter {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

#calorie-input {
  border-radius: 0.5em;
  margin-right: 0.5em;
}

#calorie-add-bttn {
  margin-left: 0.3em;
}

.search-display-container {
  display: flex;
  padding: 1em;
  text-align: center;
  overflow-x: auto;
  max-height: 10em;
  gap: 1em;
}

#selected-filters {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  gap: 1em;
}

.search-bttn {
  background-color: var(--accent-color2);
  border-radius: 0.5em;
  width: 15%;
  margin: auto auto;
}

.search-bttn.hidden {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.search-bttn:hover {
  cursor: pointer;
}

.recipes-display {
  display: flex;
  flex-wrap: wrap;
  max-height: 74vh;
  width: 100%;
  justify-content: space-around;
  padding: 1em;
  overflow-y: auto;
}

.cookbook-display {
  display: flex;
  width: 100%;
  gap: 1em;
  overflow-x: auto;
}

.cookbook-recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12.7em;
  height: 15em;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--card-color);
  text-align: center;
}

.cookbook-recipe p {
  margin: 0.2em 0;
  font-size: 0.65rem;
}

.cookbook-recipe a {
  color: var(--accent-color);
  text-decoration: none;
  font-size: 0.95rem;
}

.cookbook-recipe-stats {
  display: flex;
  flex-direction: row;
  gap: 0.3em;
  color: var(--text-color);
}

#cookbook-recipe-label {
  font-size: 0.85rem;
  color: var(--text-color);
}

#cookbook-x {
  color: var(--cookbook-x);
}

#cookbook-x:hover {
  color: red;
}

.recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12.7em;
  height: 20em;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--card-color);
  text-align: center;
}

.recipe img {
  max-width: 100%;
  height: auto;
  border-radius: 0.3em;
}

.recipe p {
  margin: 0.2em 0;
  font-size: 0.8rem;
}

.recipe a {
  color: var(--accent-color);
  text-decoration: none;
}

.recipe-stats {
  display: flex;
  flex-direction: row;
  gap: 0.3em;
  color: var(--text-color);
}

#recipe-label {
  font-size: 1rem;
  color: var(--text-color);
}

#no-recipe {
  align-self: center;
}

.text-color-to-change {
  color: var(--text-color);
}

.cookbook-recipe-image {
  width: 55px;
  height: 55px;
}

.cookbook-recipe-image:before {
  content: attr(alt);
  display: block;
  font-size: 0.7rem;
  color: black;
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: #f0f0f0;
}

.cookbook-recipe-image[src] {
  display: inline-block;
}

.cookbook-recipe-image[src]:before {
  content: none;
}
