:root {
  --main-bg-color: #ffffff;
  --sidebar-color: #ffffff;
  --accent-color: #e67854;
  --accent-color2: green;
  --border-color: #000000;
  --text-color: #000000;
  --card-color: #ece4e4;
  --cookbook-x: #000000;
}

[data-theme="light"] {
  --background-color: #ffffff;
  --text-color: #000000;
  --border-color: #000000;
  --sidebar-color: #ffffff;
  --accent-color: #e67854;
  --accent-color2: green;
  --card-color: #ece4e4;
  --cookbook-x: #000000;
}

[data-theme="dark"] {
  --background-color: #141313;
  --text-color: #ecdede;
  --border-color: #3f3d3d;
  --sidebar-color: #242323;
  --accent-color: #ff74b9;
  --accent-color2: rgb(216, 133, 78);
  --card-color: #805e53;
  --cookbook-x: aliceblue;
}
